<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reserving books</title>
    <style>
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

    </style>
</head>
<body>
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Reserving area</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0" border="2px" >
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Owner Name</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Price</th>

                    <th class="text-center align-middle py-3 px-0" style="width: 100px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash">Clear cart</i></a></th>
                  </tr>
                </thead>
                <tbody>
                {% for x in order.get_bikes %}
                  <tr>
                    <td class="p-4">
                      <div class="media align-items-center">
                        <img src="{{x.bike.file}}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                        <div class="media-body">
                          <a href="#" class="d-block text-dark">{{x.bike.Bikename}}</a>

                        </div>
                      </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">Rs. {{x.bike.Price}}</td>


                    <td class="text-center align-middle px-0"><a href="delete/{{x.id}}/" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">         remove</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <br><br><br>
              <div class="d-flex">

                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">{{ order.bike_price }}</label><br><br>
                  {% if order.get_total != None %}
                  <div class="text-large"><strong>Total price = Rs. {{ order.get_total }}</strong></div>
                  {% endif %}
                </div>
<br><br><br>
              </div>
            </div>

            <div class="float-right">
              <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3"><a href="http://127.0.0.1:8000/index/">Find other bikes too</a></button>

            </div>

          </div>
      </div>
  </div>
</body>
</html>