<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <title>Document</title>
</head>
<body>

<form class="form-horizontal" method="POST" action="/update_form/update/{{bike.pk}}/" enctype="multipart/form-data">
<fieldset>

<!-- Form Name -->
<legend>Bikes</legend>


{% csrf_token %}
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Bike_name">Bike name</label>
  <div class="col-md-4">

    <input id="Bike_name" name="Bike_name" placeholder="Bike name" value="{{ bike.Bikename }}" class="form-control input-md" required="" type="text">

  </div>
</div>
        <div class="form-group">
  <label class="col-md-4 control-label" for="Engine_Displacement">Engine Displacement</label>
  <div class="col-md-4">
    <input id="Engine_Displacement" name="Engine_Displacement" placeholder="CC" value="{{ bike.EngineDisplacement }}" class="form-control input-md" required="" type="tel">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="max_power">max power</label>
  <div class="col-md-4">
    <input id="max_power" name="max_power" placeholder="ps" value="{{ bike.maxpower }}"  class="form-control input-md" required="" type="tel">

  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="max_torque">max torque</label>
  <div class="col-md-4">
    <input id="max_torque" name="max_torque" placeholder="Nm" value="{{ bike.maxtorque }}" class="form-control input-md" required="" type="tel">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="fuel">Fuel Delivery System</label>
  <div class="col-md-4">

    <input id="fuel" name="fuel" placeholder="" value="{{ bike.Fuel }}"  class="form-control input-md" required="" type="text">

  </div>
</div>
    <div class="form-group">
  <label class="col-md-4 control-label" for="company">Company</label>
  <div class="col-md-4">

    <input id="company" name="company" placeholder="" value="{{ bike.Company }}"  class="form-control input-md" required="" type="text">

  </div>
</div>



    <div class="form-group">
  <label class="col-md-4 control-label" for="gear">no. of gears</label>
  <div class="col-md-4">
  <input id="gear" name="gear" placeholder="no. of gears" value="{{ bike.Gear}}"  class="form-control input-md" required="" type="number">
    <br>
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="price">Price Rs</label>
  <div class="col-md-4">
  <input id="price" name="price" placeholder="Price" value="{{ bike.Price}}"  class="form-control input-md" required="" type="number">
    <br>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label" for="desc">Description</label>
  <div class="col-md-4">
    <input id="desc" name="description" placeholder="Description" value="{{ bike.Desc }}" class="form-control input-md" required="" type="text">

  </div>
</div>
 <!-- File Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="image">Upload Picture</label>
  <div class="col-md-4">
    <input id="image" name="image" value="{{ bike.file }}" class="input-file" type="file">
  </div>
</div>


        <!-- Button -->
        <div class="form-group">
        <div class="col-md-4" >
            <input  type="submit" id="Singlebutton" name="singlebutton" class="btn btn-primary" value="Upload File">
        </div>
        </div>

</fieldset>
</form>
</body>
</html>